.body {
     width: 100%;
     height: auto;
     background-image: url('https://cdn.kibrispdr.org/data/1790/money-gif-36.gif');
     background-size: cover;
}
 .blink {
     animation: blink-animation 1s steps(5, start) infinite;
     -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
 @keyframes blink-animation {
     to {
         visibility: hidden;
    }
}
 @-webkit-keyframes blink-animation {
     to {
         visibility: hidden;
    }
}
 .traloitin_tab input {
     background: #fff;
     border: 1px solid #ddd;
     width: 85%;
     outline: 0;
     padding: 5px;
     padding-left: 10px;
     font-family: Roboto 
}
 .traloitin_tab {
     position: absolute;
     bottom: 0px;
     padding: 5px;
     background: #f6f7f9;
     width: 100% 
}
 .btnlog3 {
     background: linear-gradient(#75ab4b, #4a8532);
     box-shadow: inset 0 1px 0 rgba(255, 255, 255, .22), 0 1px 0 rgba(0, 0, 0, .08);
     padding: 8px;
     color: #fff;
     padding-right: 20px;
     padding-left: 20px;
     text-decoration: none !important;
}
 .btnlog4 {
     background-clip: padding-box;
     border: solid 1px;
     border-radius: 4px;
     box-sizing: border-box;
     display: inline-block;
     font-weight: 400;
     min-width: 50px;
     overflow: hidden;
     text-overflow: ellipsis;
     vertical-align: bottom;
     white-space: nowrap;
}
 .btnlog5 {
     font-size: 22px;
     line-height: 22px;
}
 .title_login {
     font-size: 24px;
     font-weight: 700;
     color: green;
     margin-top: 20px;
     margin-bottom: 0px;
}
 .sht-title-login {
     font-size: 16px;
     font-weight: 400;
     color: #222;
     margin-top: 3px;
     margin-bottom: 3px;
     margin: 15px auto;
}
 .sht-title-login2 {
     font-size: 17px;
     font-weight: 400;
     color: #000;
     margin-top: 10px;
     margin-bottom: 2px;
}
 .modal-content {
     position: relative;
     background-color: #ffffff;
     background-clip: padding-box;
     border: 1px solid rgba(0, 0, 0, .2);
     border-radius: 6px;
     outline: 0;
}
 hr {
     border: 0;
     border-top: 1px solid #008000;
     margin-top: 0px;
     margin-bottom: 0px;
}
 .modal-body {
     position: relative;
     padding: 0px;
     padding-top: 0px;
}
 .text-center {
     text-align: center;
}
 .spaceback_ui_alert {
     border-radius: 8px;
     margin: 15px 0;
     padding: 15px;
     overflow: hidden;
     position: relative;
}
 .spaceback_ui_alert:not(.alert_outline) {
     background-color: var(--color-alert-bg);
}
 .spaceback_ui_alert.alert_outline {
     border: 1px solid;
     border-color: var(--color-border-default);
}
 .spaceback_ui_alert.alert_info, .spaceback_ui_alert.alert_warning, .spaceback_ui_alert.alert_success, .spaceback_ui_alert.alert_error {
     background-repeat: no-repeat;
     background-size: 24px;
     background-position: 15px 15px;
     padding: 15px 15px 15px 50px;
}
 .spaceback_ui_alert.alert_info:not(.alert_outline), .spaceback_ui_alert.alert_warning:not(.alert_outline), .spaceback_ui_alert.alert_success:not(.alert_outline), .spaceback_ui_alert.alert_error:not(.alert_outline) {
     color: #000000;
}
 .spaceback_ui_alert.alert_info {
     background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z'fill='%2300a7e6'/%3E%3C/svg%3E");
}
 .spaceback_ui_alert.alert_warning {
     background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z'fill='%23ecb621'/%3E%3C/svg%3E");
}
 .spaceback_ui_alert.alert_warning:not(.alert_outline) {
     background-color:#fcfce4;
}
 .spaceback_ui_alert.alert_success {
     background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z'fill='%2341ba79'/%3E%3C/svg%3E");
}
 .spaceback_ui_alert.alert_success:not(.alert_outline) {
     background-color:#def5e9;
}
 .spaceback_ui_alert.alert_error {
     background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.2,16.06L3.88,12L2.2,7.94L6.26,6.26L7.94,2.2L12,3.88L16.06,2.2L17.74,6.26L21.8,7.94L20.12,12L21.8,16.06L17.74,17.74L16.06,21.8L12,20.12L7.94,21.8L6.26,17.74L2.2,16.06M13,17V15H11V17H13M13,13V7H11V13H13Z'fill='%23c00827'/%3E%3C/svg%3E");
}
 .spaceback_ui_alert.alert_error:not(.alert_outline) {
     background-color:#ffe7eb;
}
 .spaceback_ui_alert.alert_info:before, .spaceback_ui_alert.alert_warning:before, .spaceback_ui_alert.alert_success:before, .spaceback_ui_alert.alert_error:before {
     content:'';
     position:absolute;
     top:45px;
     left:27px;
     height:calc(100% - 60px);
     border-left:1px solid;
}
 .spaceback_ui_alert.alert_info:before {
     border-color:#00a7e6;
}
 .spaceback_ui_alert.alert_warning:before {
     border-color:#ecb621;
}
 .spaceback_ui_alert.alert_success:before {
     border-color:#41ba79;
}
 .spaceback_ui_alert.alert_error:before {
     border-color:#c00827;
}
 .spaceback_ui_alert.alert_info:not(.alert_outline) {
     background-color:#e7f2ff;
}
 .spaceback_ui_alert.alert_info.alert_outline {
     border-color:#00a7e6;
}
 .spaceback_ui_alert.alert_warning.alert_outline {
     border-color:#ecb621;
}
 .spaceback_ui_alert.alert_success.alert_outline {
     border-color:#41ba79;
}
 .spaceback_ui_alert.alert_error.alert_outline {
     border-color:#c00827;
}
 .spaceback_ui_alert .alert_message strong {
     display:block;
     margin-bottom:10px;
}
 .spaceback_ui_alert.alert_info .alert_message strong {
     color:#00a7e6;
}
 .spaceback_ui_alert.alert_warning .alert_message strong {
     color:#ecb621;
}
 .spaceback_ui_alert.alert_success .alert_message strong {
     color:#41ba79;
}
 .spaceback_ui_alert.alert_error .alert_message strong {
     color:#c00827;
}
 .spaceback_ui_alert .alert_message a:not(.spaceback_ui_button) {
     display:inline-block;
     color:#000000;
     text-decoration:underline;
}
 .widget_under_header .spaceback_ui_alert {
     margin:0;
}

/* --- Button --- */
 .spaceback_ui_button {
     display:inline-flex;
     align-items:center;
     justify-content:center;
     font-size:14px;
     font-weight:400;
     line-height:38px;
     color:var(--color-text-button);
     background-color:transparent;
     outline:none;
     border:none;
     border-radius:8px;
     padding:0 15px;
     cursor:pointer;
     user-select:none;
     white-space:nowrap;
     position:relative;
}
 .spaceback_ui_button:not(.unelevated, .raised) {
     color:var(--color-accent);
}
 .spaceback_ui_button:not(.disabled, .unelevated, .raised):hover {
     background-color:var(--color-action-hover-bg);
}
 .spaceback_ui_button.outline {
     border:1px solid;
     border-color:var(--color-accent);
}
 .spaceback_ui_button.unelevated:not(.disabled), .spaceback_ui_button.raised:not(.disabled) {
     background-color:var(--color-accent);
}
 .spaceback_ui_button.unelevated:not(.disabled):hover, .spaceback_ui_button.raised:not(.disabled):hover {
     box-shadow:inset 0 0 0 99999px rgb(0 0 0 / 15%);
}
 .spaceback_ui_button.rounded {
     border-radius:30px;
}
 .spaceback_ui_button.raised {
     box-shadow:0 1px 2px 0 rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
}
 .spaceback_ui_button.disabled {
     color:var(--color-text-secondary);
     cursor:not-allowed;
}
 .spaceback_ui_button.outline.disabled {
     border-color:var(--color-action-hover-bg);
}
 .spaceback_ui_button.unelevated.disabled, .spaceback_ui_button.raised.disabled {
     background-color:var(--color-action-hover-bg);
}
 .spaceback_ui_button svg {
     width:18px;
     height:18px;
     fill:currentcolor;
     margin-right:8px;
}
 .button_wrap {
     display:flex;
     align-items:center;
     flex-wrap:wrap;
     gap:8px;
}
/* --- Button Icon --- */
 .spaceback_ui_button_icon {
     display:inline-flex;
     align-items:center;
     background:none;
     border:none;
     outline:none;
     cursor:pointer;
     user-select:none;
     color:var(--color-text-button);
     border-radius:50%;
     padding:10px;
     position:relative;
}
 .spaceback_ui_button_icon:hover {
     background-color:var(--color-action-hover-bg);
}
 .spaceback_ui_button_icon:active {
     background-color:var(--color-action-active-bg);
}
 .spaceback_ui_button_icon.rounded {
     border-radius:50%;
}
 .spaceback_ui_button_icon:not(.unelevated, .back_to_top_button) {
     color:var(--color-text-primary);
}
 .spaceback_ui_button_icon.unelevated {
     background-color:var(--color-accent);
}
 .spaceback_ui_button_icon.unelevated:hover {
     box-shadow:inset 0 0 0 99999px rgb(0 0 0 / 15%);
}
 .spaceback_ui_button_icon svg {
     fill:currentcolor;
}
